@* File: Views/Shared/Teachers/_EditTeacherModal.cshtml *@
<div class="modal fade" id="editTeacherModal" tabindex="-1" role="dialog" aria-labelledby="editTeacherModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editTeacherModalLabel">Edit Teacher</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editTeacherForm">
                    <input type="hidden" id="editTeacherId" name="TeacherId" />
                    <div class="form-group">
                        <label for="editTeacherName">Name</label>
                        <input type="text" class="form-control" id="editTeacherName" name="Name" required>
                    </div>
                    <div class="form-group">
                        <label for="editTeacherGender">Gender</label>
                        <input type="text" class="form-control" id="editTeacherGender" name="Gender" required>
                    </div>
                    <div class="form-group">
                        <label for="editTeacherDob">Date of Birth</label>
                        <input type="date" class="form-control" id="editTeacherDob" name="Dob" required>
                    </div>
                    <div class="form-group">
                        <label for="editTeacherEmail">Email</label>
                        <input type="email" class="form-control" id="editTeacherEmail" name="Email" required>
                    </div>
                    <div class="form-group">
                        <label for="editTeacherPhone">Phone</label>
                        <input type="text" class="form-control" id="editTeacherPhone" name="Phone" required>
                    </div>
                    <div class="form-group">
                        <label for="editTeacherAddress">Address</label>
                        <input type="text" class="form-control" id="editTeacherAddress" name="Address" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>