@* File: Views/Shared/Teachers/_TeacherModal.cshtml *@
<div class="modal fade" id="teacherModal" tabindex="-1" role="dialog" aria-labelledby="teacherModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="teacherModalLabel">Add Teacher</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="teacherForm">
                    <div class="form-group">
                        <label for="teacherName">Name</label>
                        <input type="text" class="form-control" id="teacherName" name="Name" required>
                    </div>
                    <div class="form-group">
                        <label for="teacherGender">Gender</label>
                        <input type="text" class="form-control" id="teacherGender" name="Gender" required>
                    </div>
                    <div class="form-group">
                        <label for="teacherDob">Date of Birth</label>
                        <input type="date" class="form-control" id="teacherDob" name="Dob" required>
                    </div>
                    <div class="form-group">
                        <label for="teacherEmail">Email</label>
                        <input type="email" class="form-control" id="teacherEmail" name="Email" required>
                    </div>
                    <div class="form-group">
                        <label for="teacherPhone">Phone</label>
                        <input type="text" class="form-control" id="teacherPhone" name="Phone" required>
                    </div>
                    <div class="form-group">
                        <label for="teacherAddress">Address</label>
                        <input type="text" class="form-control" id="teacherAddress" name="Address" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>